<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= link_to(image_tag("portrait.jpg", class: "img-circle portrait"), root_path, class: "navbar-brand") %>
      </a>
      <ul class="nav navbar-nav">
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Skills", "#" %></li>
        <li><%= link_to "History", "#" %></li>
        <li><%= link_to "Why", "#" %></li>
        <% if session[:admin] %>
          <li><%= link_to "Sign Out", sign_out_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
