<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag "portrait.jpg", class: "img-circle portrait" %>
      </a>
      <ul class="nav navbar-nav">
        <li><%= link_to "Projects", "projects" %></li>
        <li><%= link_to "Skills", "skills" %></li>
        <li><%= link_to "History", "history" %></li>
        <li><%= link_to "Why", "why" %></li>
      </ul>
    </div>
  </div>
</nav>
